<%#= tag.div id: dom_id(login), class: "block py-4 pl-4 mt-2 rounded-3xl bg-gray-100 hover:bg-gray-200" do %>
<!--  <div><%#= link_to login.name, login %></div>-->
<%# end %>

<%= link_to login, id: dom_id(login), class: "p-4 rounded-3xl mt-2 bg-gray-100 hover:bg-gray-200 block no-underline" do %>
    <div class="text-xl"><%= login.name %></div>
    <div class="text-sm text-gray-500 font-medium"><%= login.username %></div>
<% end %>