<div class="flex justify-between items-center">
  <h1 class="mb-0">All Logins</h1>
  <%= link_to "➕", new_login_path, class: "no-underline w-10 h-10 pt-1.5 pl-3 rounded-full hover:bg-gray-200 hover:scale-125 duration-200" %>
</div>
<br /><br />
<div>
  <%= render @logins %>
</div>
