<div class="flex justify-between items-center">
  <h1 class="mb-0">Bitwarden Clone</h1>
  <%= link_to "➕", new_login_path, class: "no-underline border-double border-2 border-black w-10 h-10 pt-1 pl-2.5 rounded-full hover:scale-125 duration-200" %>
</div>
<br />
<br />
<div>
  <%= render @logins %>
</div>
