<div class="flex justify-center max-w-xl flex-col mx-auto">
  <div class="flex justify-between items-center">
    <h1 class="mb-0 text-white mt-28">All Logins</h1>
    <%= link_to "+", new_login_path, class: "no-underline text-4xl hover:scale-150 duration-200 text-white" %>
  </div>
  <br /><br />
  <div class="max-w-4xl">
    <%= render @logins %>
  </div>
</div>
